extends layout

block content
  h1= title
  button.ui.button
    a(href='/new') Create new message

  ul.feed
    each message in messages
      li.container 
        div.body
          em 
            b #{message.user}
          br
          | #{message.text}
          div.timestamp
            | Added on: #{message.added.toDateString()}